.contact{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    margin-top: 5%;
}
.contact a{
    color: white;
}
.contact__info__title{
    width: 100%;
}
.contact__form{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.form__item{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1%;
}
.form__item__input{
    padding: 10% 10% 10% 3%;
    width: 250px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}
.form__item__input:hover,.form__item__message:hover{
    border: 1px solid white;
}
.submit{
    display: flex;
    flex-direction: column;
}
.subject{
    position: relative;
}


.form__item__message{
    background: transparent;
    height: 20vh;
    width: 27vw;
    color: white;
    padding: 3% 3%;
    border: none;
    border-bottom: 2px solid white ;
}
.contact-btn{
    height: 5vh;
    width: 100%; 
}

.contact__info__title{
    font-size: xx-large;
}
.contact__info__text__item{
    padding: 3% 0%;
}

.schedule{
    margin-top: 10%;
}


@media screen and (max-width: 767px ) {
    .contact{
        flex-direction: column;
        margin-top: 10%;
    }
    .contact__info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contact__form{
        flex-direction: column;
        width: 100%;
        align-content: center;
        margin-top: 10%;
    }
    .form__item__message{
        width: 100%;
    }
}