.history{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.history__title{
    margin-bottom: 5%;
    display: flex;
    align-self: center;
    font-size: 3vw;
}
.history__text{
    width: 60%;
    place-self: center;
    font-size: 1.2vw;
}
@media screen and (max-width: 767px) {
    .history__title{
        font-size: 8vw;
    }
    .history__text{
        font-size: 15px;
    }
}