.slider{
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5%;
}
.slider-images{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out .2s;
}
.hidden{
    display: none;
    transition: all ease-in-out .2s;
}
.active{
    display: flex;
    transition: all ease-in-out .2s;
}
.slider-image img {
  width:  100%;
  height:  100%;
  object-fit: cover;
}
.slider-image{
    object-fit: cover;
}
.slider-previous{

}
.slider-previous img{

}
.slider-next{

}
.slider-next img{
    
}